*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    
    font-family: 'Roboto', sans-serif;
    background-color: #BCFD4C;
}
#navlist{
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index:1;
}
.logo{
    margin-top:50px;
}
.logo img{
    width:5em;
    height:6em;
}
header{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
}
.sticky {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    /* width: 100%; */
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    /* border: 2px solid #6E6E6E; */
    border-radius:10px;
    }
    nav ul li{
        padding:5px 1rem; 
        
    }
    nav ul li:hover{
        
        background-color:black;
    }
    nav ul li a:hover{
        color: white;
    }
    nav ul li a{
        text-decoration: none;
        font-size: 1.5em;
        font-weight: bold;
        color:#6E6E6E;
    }
    footer{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color:black;
        padding:10px;
        color:white;
    }
    footer a{
        color:rgb(117, 117, 206);
        text-decoration:none;
    
    }
    footer a:hover{
        color:white;
        /* transform:scale(1.2); */
    }
    @media screen and (max-width:600px){
        
        nav ul li{
            padding:5px 0.5rem; 
            
        }
    }
    .cinema{
        padding:10px 5px; 
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
    }
    .cinema p{
        padding:5px 0.5rem;
    }
    .logo{
    
        /* background-position: 10px 0px; */
        /* border:1px solid black; */
        position: relative;
        
        animation:wap 3s linear 1;
        
        
    }   
    @keyframes wap {
        0%{
            right: 0%;
        }
        10%{
            left: 0%;
        }
        20%{
            left: -0%;
        }
        30%{
            left: -5%;  
        }
        40%{
            left: -10%;
        }
        50%{
            left: -15%;
        }
        60%{
            left: -15%;
        }
        70%{
            left: -15%;
        }
        80%{
            left: -10%;  
        }
        90%{
            left: -5%;
        }
        100%{
    left: 0%;
        }
    }
    @media print{
        .cinema{
            page-break-after: always;
        }
        
        header, footer{
            display:none;
        }

    }